* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

.contenedor__principal{
  max-width: 1040px;
}

.cabezera {
    /* max-width: 1040px; */
    margin: 0 auto;
    background-color: rgb(241, 231, 231);
  }

/******************* NAV ****************************/

.container-fluid{
  padding: 20px;
  
}
.container-fluid img {
  margin-left: 10%;
  height:40px;
}

.navbar-collapse{
  display: flex;
  justify-content: center;
}


.navbar-nav li {
  margin: 0 10px;
  border-radius: 10px;
}

.navbar-nav li a:hover {
  font-size: 18px;
  font-weight: bold;
  transition: all .5s;
}







/******************** BODY ****************************/
.contenedor__principal {
  max-width: 1040px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-auto-rows: 1fr;
}

.productos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: 1fr;
  grid-auto-rows: 1fr;
}

.articulos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: 1fr;
  grid-auto-rows: 1fr;
}

.tarjeta {
  width: 250px;
}

.cuerpo__tarjeta {
  padding: 20px;
}

h1{
  margin: 40px;
  margin-left: 30px;

}
/********************* PRODUCTS****************************/


/************************** CARD********************/

.card {
  margin: 30px;
  width: 220px;
  height: 320px;
}
.card:hover{
  box-shadow: 5px 5px 5px 3px rgb(213, 213, 213);
}

.card-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card img {
  width: auto;
  height: 120px;
  

}

/************************** FOOTER ********************/

.logo-academlo-footer{
  height: auto;
  width: 100px;
}


/************************** MEDIAS *************************************/
@media (max-width: 991px) {

  .container-fluid{
    padding: 10px 12%;
  }

  .navbar-collapse{
    margin-top: 25px;
    
  }

  .navbar-collapse{
    display: inline-block;
    
  }

 
  

}

@media (min-width: 768px) {
  .contenedor__principal {
    grid-template-columns: 2fr 1fr;
    
  }
 


  

 

}

